* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #ffffff 0%, #f3f7ff 40%, #f7fbff 100%);
  font-family: sans-serif;
  width: 100%;

}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
